<#import "parts/common.ftlh" as c>

<@c.page>

  <a class="btn btn-light" href="/open" role="button">Open new account</a>
  <a class="btn btn-dark" href="/deposit" role="button">Deposit account</a>
  <a class="btn btn-light" href="/transfer" role="button">Transfer</a>
<div class="form-row">
    <div class="form-group col-md-6">
    </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Balance</th>
      <th scope="col">History</th>
    </tr>
  </thead>
  <tbody>

  <div>
    <#list accounts as account>
    <tr>
      <td>#{account.number}</td>
      <td>#{account.balance}</td>
      <td><a href="/main/#{account.id}">open</a></td>
    </tr>
    <#else>
        No open accounts
    </#list>
    </div>
  </tbody>
</table>
</@c.page>